/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Font weight ==========*/
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #1E1E1E;
  font-family: "Poppins", sans-serif; }

html {
  scroll-behavior: smooth; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

button,
input {
  border: none;
  outline: none; }

button {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

/*=============== REUSABLE CSS CLASSES ===============*/
.btn {
  background-color: #89DB7B;
  color: #1E1E1E;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  border: 2px solid #89DB7B; }

.btn:hover {
  background-color: #ffffff;
  border: 2px solid #89DB7B;
  transition: 1s ease-in-out; }

/*=============== LAYOUT ===============*/
.main {
  overflow: hidden; }

body {
  padding: 1rem 8rem; }

.header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem 0; }

.header_container a {
  font-size: 2rem; }

.header_container a span {
  color: #89DB7B; }

.header_container nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header_container nav * {
  margin-right: 2rem;
  font-size: 1rem; }

.header_container nav *:hover {
  color: #89DB7B;
  transition: 0.5s ease-in-out; }

.header_container button {
  padding: 1rem;
  border-radius: 15px;
  background-color: #ffffff;
  border: 2px solid #89DB7B;
  font-size: 1rem; }

.header_container button:hover {
  background-color: #89DB7B;
  transition: all 1s ease-in-out; }

.header_container button img {
  height: 1rem;
  margin-left: 0.2rem; }

.dental_excellence_container {
  display: flex;
  flex-direction: column;
  align-items: start; }

.dental_excellence_container .top {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  overflow: hidden; }

.dental_excellence_container .top h1 {
  font-size: 4rem;
  width: 60%; }

.dental_excellence_container .top .first_profile_image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 420px;
  z-index: -1; }

.dental_excellence_container .top .figure {
  position: absolute;
  background-color: #FFD68A;
  right: 0;
  bottom: -40px;
  width: 400px;
  height: 370px;
  z-index: -2;
  border-radius: 55px; }

.dental_excellence_container .bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 5rem 0;
  gap: 2rem; }

.dental_excellence_container .bottom div {
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  padding: 1.5rem;
  border-radius: 5%;
  display: flex;
  flex-direction: column; }

.dental_excellence_container .bottom div:hover {
  scale: 1.1;
  transition: 1s ease-in-out; }

.dental_excellence_container .bottom div h6 {
  font-size: 1rem; }

.dental_excellence_container .bottom div img {
  height: 5rem;
  width: 5rem; }

.dental_excellence_container .bottom div * {
  margin-bottom: 1rem; }

.best_dental_treatment_container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.best_dental_treatment_container h5 {
  color: #89DB7B;
  font-size: 0.8rem; }

.best_dental_treatment_container h3 {
  font-size: 2rem;
  margin-bottom: 2rem; }

.best_dental_treatment_container .best_dental_treatment_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; }

.best_dental_treatment_container .best_dental_treatment_grid article {
  border-radius: 15px;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.best_dental_treatment_container .best_dental_treatment_grid article:hover {
  scale: 0.9;
  transition: 0.5s ease-in-out; }

.best_dental_treatment_container .best_dental_treatment_grid article .left {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start; }

.best_dental_treatment_container .best_dental_treatment_grid article img {
  position: absolute;
  bottom: 0;
  right: 0; }

.best_dental_treatment_container .best_dental_treatment_grid article button {
  background-color: white;
  padding: 1rem;
  border-radius: 25px;
  font-weight: 600; }

.best_dental_treatment_container .best_dental_treatment_grid article button:hover {
  background-color: #89DB7B;
  transition: 1s ease-in-out; }

.best_dental_treatment_container .best_dental_treatment_grid article h6 {
  margin-bottom: 1rem;
  font-size: 2rem; }

.best_dental_treatment_container .best_dental_treatment_grid article p {
  margin-bottom: 1rem; }

.best_dental_treatment_container .best_dental_treatment_grid article:nth-child(2) {
  background-color: #FEE6DC; }

.best_dental_treatment_container .best_dental_treatment_grid article:nth-child(4) {
  background-color: #FEE6DC; }

.best_dental_treatment_container .best_dental_treatment_grid article:nth-child(1) {
  background-color: #FEEFC1; }

.best_dental_treatment_container .best_dental_treatment_grid article:nth-child(6) {
  background-color: #FEEFC1; }

.best_dental_treatment_container .best_dental_treatment_grid article:nth-child(3) {
  background-color: #DFF7EA; }

.best_dental_treatment_container .best_dental_treatment_grid article:nth-child(5) {
  background-color: #DFF7EA; }

.patient_centred_container {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem; }

.patient_centred_container .left {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.patient_centred_container .left div {
  background-color: #FEE6DC;
  height: 90%;
  width: 80%;
  border-radius: 25px; }

.patient_centred_container .left img {
  object-fit: contain; }

.patient_centred_container .right {
  height: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: start; }

.patient_centred_container .right h6 {
  color: #89DB7B;
  font-size: 0.8rem;
  margin-bottom: 1rem; }

.patient_centred_container .right h2 {
  margin-bottom: 2rem; }

.patient_centred_container .right span {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600; }

.patient_centred_container .right button {
  margin-top: 2rem; }
